.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: black;
}
.banner h1 {
 text-align: center;
  font-size: 3.3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: -130px;
  padding: 0 20rem;
  letter-spacing: 6px;
}
.banner p {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .banner h1 {
    font-size: 4.5rem;
    text-align: center;
  }
  .banner p {
    width: 70%;
  }
}
