nav-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 1.25rem;
}
.logo-btn {
 background: transparent;
 border: none;
 outline: none;

}
.logo-btn:hover {
 cursor: pointer;
}
.logo-icon {
 color: var(--primaryColor);
 font-size: 1.5rem;
 height: 4.5rem;
 margin-bottom: 0rem;

}

.nav-links {
 list-style-type: none;
 transition: var(--mainTransition);
 height: 0;
 overflow: hidden;
}
.show-nav {
 height: 216px;
}
.nav-links a {
 display: block;
 padding: 1rem 1.25rem;
 text-decoration: none;
 text-transform: capitalize;
 color: var(--mainBlack);
 transition: var(--mainTransition);
 font-weight: bold;
 letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
 color: var(--primaryColor);
}
.nav-social-links {
 display: none;
}
@media screen and (min-width: 576px) {
 .navbar {
   padding: 0 2rem;
 }
}

@media screen and (min-width: 992px) {
 .logo-btn {
   display: none;
 }
 .nav-center {
   max-width: 1170px;
   margin: 8 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .nav-right {
  max-width: 1170px;
  margin: 8 auto;
  display: flex;
  justify-content: space-between;
  align-items: right;
}
.nav-left {
 max-width: 1170px;
 margin: 8 auto;
 display: flex;
 justify-content: space-between;
 align-items: left;
}

 .nav-links {
   height: auto;
   display: flex;
 }
 .nav-phone-links {
  display: flex;
  line-height: 0;
}
.nav-phone-links a {
  color: var(--primaryColor);
  margin: 0 1.5rem;
  font-size: 2.2rem;
  width: 17rem;
  transition: var(--mainTransition);
}
.nav-phone-links a:hover {
  color: var(--mainBlack);
  transform: translateY(-5px);
}
}


 /* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
} */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}
.nav-header img {
 cursor: pointer;
 padding: .25rem .25rem; 
 width: 22rem;
 margin-right: 0 auto;
 width: 5px;
}

.nav-phone {
 color: rgb(165, 163, 163);
 font-size: 2em;
 font-weight: 900;
 margin-left: auto;
}

.sm-tab-bar {
 background: grey;
 color: black;
 height: 2.8125rem;
 line-height: 2.8125rem;
 position: relative;

}

.logo-btn {
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  margin-inline-start: 5%;
  margin-top: .5rem;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--primaryColor);
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  padding: 0px 20px;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}
.show-nav {
  height: 216px;
  margin-left: 33%;
  transition: var(--mainTransition);
  border: .5px solid green;
}

.nav-links a {
  display: flex;
  list-style: none;
  padding: .5rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.nav-social-links {
  display: none;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }
  @media screen and (max-width: 6px) {
   .nav-links {
     display: none;
   }
  }}
  
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    height: auto;
    display: flex;   
  } 
   .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: var(--primaryColor);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--mainBlack);
    transform: translateY(-5px);
  }