.breadcrumb-area {
  z-index: 1;
}

.bg_img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 120px 0;
}

[data-overlay] {
  position: relative;
}

[data-overlay="5"]::before {
  opacity: 0.5;
}

[data-overlay]::before {
  background: #002542;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.breadcrumb-area::before {
  z-index: -1;
  background: #525f82;
}

.breadcrumb-text {
  color: #fff;
  font-size: 18px;
}

.breadcrumb-text .breadcrumb-title {
  font-size: 50px;
  color: #fff;
  letter-spacing: -4px;
}

.breadcrumb-text span {
  font-weight: 700;
}

.breadcrumb-text p {
  margin: 0;
  padding: 0;
  line-height: 28px;
}

.breadcrumb-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.breadcrumb-nav li:not(:last-child) {
  margin-right: 10px;
}

.breadcrumb-nav li {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.breadcrumb-nav li a {
  color: #fff;
  font-weight: 400;
}

a,
a:hover,
a:visited,
a:link {
  text-decoration: none;
}

@media (max-width: 991px) {
  .breadcrumb-text .breadcrumb-title {
    font-size: 60px;
  }

  .breadcrumb-nav ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 20px;
  }
}
