.feature-block-one {
  margin-top: 50px;
}

.feature-block-one .inner-box {
  position: relative;
  display: block;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 50px 5px #e9eef7;
  padding: 70px 50px 50px 50px;
  transition: all 500ms ease;
}

.feature-block-one .icon-box {
  position: relative;
  display: inline-block;
  font-size: 60px;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 43px;
  z-index: 1;
  transition: all 500ms ease;
}

.feature-block-one .icon-box:before {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  left: -8px;
  top: -5px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.feature-block-one .icon-box:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  border-radius: 50%;
  z-index: -1;
  transition: all 500ms ease;
}

.feature-block-one .icon-box:after {
  background: #f3f7ff;
}

.feature-block-one h3 {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 30px;
  color: #3b3b3b;
  font-weight: 600;
  margin-bottom: 23px;
  z-index: 1;
}

.feature-block-one h3 a {
  display: inline-block;
  color: #3b3b3b;
}

.feature-block-one .inner-box p {
  margin-bottom: 28px;
  position: relative;
  font-size: 17px;
  line-height: 32px;
  color: #848484;
  transition: all 500ms ease;
}

.feature-block-one .icon-box .anim-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  -webkit-animation: service_hexagon 3s infinite linear;
  -moz-animation: service_hexagon 3s infinite linear;
  -o-animation: service_hexagon 3s infinite linear;
  animation: service_hexagon 3s infinite linear;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.feature-block-one .icon-box .anim-icon .icon-1 {
  position: absolute;
  left: -25px;
  top: 60px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation: zoom-fade-two 5s infinite linear;
  animation: zoom-fade-two 5s infinite linear;
}

.feature-block-one .icon-box .anim-icon .icon-1 {
  background: rgba(99, 119, 238, 0.8);
}

.feature-block-one .icon-box .anim-icon .icon-2 {
  position: absolute;
  left: 10px;
  top: -20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation: zoom-fade-two 4s infinite linear;
  animation: zoom-fade-two 4s infinite linear;
}

.feature-block-one .icon-box .anim-icon .icon-2 {
  background: #b1bbf6;
}

.feature-block-one .icon-box .anim-icon .icon-3 {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: zoom-fade-two 3s infinite linear;
  animation: zoom-fade-two 3s infinite linear;
}

.feature-block-one .icon-box .anim-icon .icon-3 {
  background: #92a0f3;
}

.feature-block-one .icon-box svg {
  fill: var(--primaryColor);
}
