.services-list li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.556em;
  padding-bottom: 2em;
  position: relative;
  justify-content: flex-start !important;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
}

.services-list li a {
  background-color: #ffffff;
}

.services-list li a svg {
  font-size: 3.889em;
  fill: rgb(255, 51, 0);
}

.title-style {
  font-size: 1.9rem;
  color: #034d79;
  padding-top: 1.5rem;
  text-transform: capitalize;
}

.services-list li a p {
  margin: 0;
  font-weight: 500;
  font-size: 0.96em;
  line-height: 1.444;
  padding-top: 1.556em;
  color: #56595e;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}
