.blog {
  padding: 6rem 0;
}

.blog h6 {
  color: #848484;
}

.post {
  margin: 2rem 0;
}

.post h1,
.post h3,
.post h2 {
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.post p {
  color: #222;
}

.post img {
  max-width: 100%;
}

.post ul {
  list-style: disc;
  margin-left: 40px;
  margin-bottom: 30px;
}

.post ul li p {
  margin-bottom: 10px;
}
